*{
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .clicker {
    background-color:rgb(228, 61, 61);
    padding: 25px;
    font-size: 25px;
    cursor: pointer;
    transition: ease-in-out 0.1s;
}

main p, main button {
    margin : 25px;
}

.clicker:hover {
transform: scale(1.1);
background-position: -60px;
box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.clicker:active {
    transform: scale(1);
    background-position: 500px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.shop button {
    background-color: #32a85f;
    color: white;
    font-size: 15px;
    cursor: pointer;
    padding: 15px;
}

.money {
    padding: 20px;
    border : 1px solid #454545;
    font-size: 30px;
}

.info {
    color:rgb(228, 61, 61);
    font-size: 30px;
}